body{
	background-color: beige;
}

#container{
	width: 100%;
	border: solid 1px blue; 
	transform: translate(0px,-61px);
}

.reload{
	height: 50px; 
	line-height: 50px; 
	text-align: center; 
	width: 100%; 
	border: solid 1px red;
}

.content{
	width: 100%; 
	line-height: 30px;
	background-color: #F2F2F2; 
	font-size: 17px; 
	font-family: 'Adobe Garamond Pro';
}